<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Paralegal - Ingresar</title>
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="../assets/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
</head>
<body>
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <div class="main-title form-block">
            <div id="title">
                <h1>Login to your account</h1>
                <p class="thin">Login to Paralegal Wiki</p>
            </div>
            <form id="loginForm">
                <input placeholder="Correo electrónico" name="username" type="text" id="username" class="field"/>
                <input placeholder="Contraseña" name="password" type="password" id="password" class="field"/>
                <button type="submit" class="submit-btn">Login</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/easing/EasePack.min.js"></script>
    <script src="../assets/js/animation.js"></script>
    <script src="../assets/js/login.js"></script>
</body>
</html>
